header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 240px;
}
header .tiger__logo{
    width: 52px;
    height: 57px;
    margin-top: 90px;
}
header .tiger__index{
    margin-top: 8px;
    width: 250px;
    height: 60px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 900px) and (-webkit-min-device-pixel-ratio: 3) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height : max-content;
    }
    header .tiger__logo{
        width: 52px;
        height: 57px;
        margin-top: 15%;
    }
    header .tiger__index{
        margin-top: 3%;
        width: 250px;
        height: 60px;
    }
}